<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mybatis.dao.StudentMapper" >

    <select id="getStudentById"  resultType="com.example.mybatis.entity.Student">
        SELECT * from student
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
        </where>
    </select>

    <select id="getAll"  resultType="com.example.mybatis.entity.Student">
        SELECT * from student
    </select>

   <update id="updateStudentById" parameterType="com.example.mybatis.entity.Student">
        update student set name = #{name,jdbcType=VARCHAR},
                        tel = #{tel,jdbcType=VARCHAR},
                        address = #{address,jdbcType=VARCHAR}
                        where id = #{id}
    </update>

    <insert id="insertStudent" parameterType="com.example.mybatis.entity.Student">
        INSERT  into student(id,name,sto_no,tel,address)
        VALUES (#{id},#{name,jdbcType=VARCHAR},#{sto_no,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteById">
        delete from student where id = #{id}
    </delete>
</mapper>